{% extends "layout.html" %}

{% block title %}
    Emails
{% endblock %}

{% block main %}
    <div>
        {% for email in emails %}
        <div class="list-group-item">
            <h6> Sender: {{email.sender}}</h6>
            <h2>{{ email.subject}}</h2>
            <p>{{email.timestamp}}</p>
            <form action="/email" method="post">
                <input type="hidden" name="emailId" value="neeraj@gmail.com"> <!-- Replace 1 with the actual email ID -->
                <button type="submit">View Email</button>
            </form>

        </div>
        {% endfor %}
    </div>
{% endblock %}